/*------------- Basic Style ---------------*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    background-color: #333;
    font-family: sans-serif;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
}

/*------------------ Header Style -----------------*/
header {
    width: 100%;
    height: 12em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #dc4437;
    z-index: 99;
}

header nav {
    width: 100%;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 3em;
}

header nav .logo {
    width: 6em;
    color: white;
    font-size: 2em;
    line-height: 1.5em;
    float: left;
}

header nav .logo:before {
     margin-right: 0.5em;
}

header nav .right.group {
    float: right;
}

header nav .right.group .fa {
    color: #9a3127;
    font-size: 1em;
    line-height: 3em;
}

header nav .right.group .fa:hover {
    color: white;
}

header nav .right.group .fa-bell.active {
    color: lightyellow;
}


header nav .right.group .fa:not(:last-child) {
    margin-right: 0.5em;
}

/*--------- Search Style -----------*/
.sb-search {
    float: left;
    position: relative;
    width: 200px;
    height: 25px;
    margin-top: 10px;
}

.sb-search .fa-search,
.sb-search-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.sb-search .fa-search {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #9a3127;
    z-index: 1;
}

.sb-search-submit {
    border: none;
    outline: none;
    background-color: transparent;
    z-index: 2;
}

.sb-search-submit:hover + .fa-search{
    color: white;
    background: #9a3127;
}

.fa-search.active {
    color: white;
    background-color: #9a3127;
}

.sb-search-input {
    position: absolute;
    top: 0;
    left: 25px;
    width: 175px;
    height: 25px;
    padding: 0 5px;
    outline: none;
    border: none;
    font-size: 13px;
    font-family: monospace;
    background-color: white;
    display: none;
}


.sb-search-input::-webkit-input-placeholder {
    color: #aaa;
}

.sb-search-input:-moz-placeholder {
    color: #aaa;
}

.sb-search-input::-moz-placeholder {
    color: #aaa;
}

.sb-search-input:-ms-input-placeholder {
    color: #aaa;
}


/*-------------- Profile Style ------------------*/
.profile {
    width: 18em;
    height: 9em;
    padding: 4em 1em 2em 2em;
}

.profile img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    float: left;
    margin-right: 1em;
}

.profile .basic-info {
    font-size: 0.8em;
    float: left;
}

.profile .basic-info a {
    display: block;
}

.profile .basic-info a:first-child {
    color: white;
    font-size: 1.2em;
    line-height: 1.8em;
}

.profile .basic-info a:last-child {
    color: black;
    font-size: 1em;
    line-height: 1.5em;
}


/*----------------- Chat Panel Style ---------------*/

.main {
    width: 100%;
    height: 100%;
    min-height: 45em;
    padding: 12em 5em 2em 0;
    position: absolute;
    top: 0;
    left: 0;
}

.customer-list {
    width: 15em;
    height: 100%;
    float: left;
    color: white;
    overflow: scroll;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.chat-panel {
    height: 100%;
    position: relative;
    top: -100px;
    background-color: white;
    margin-left: 15em;
    border-radius: 3px 3px 3px 0;
    z-index: 199;
}


/*------------------- Customer List Style --------------*/
.customer-list > ul > li {
    width: 100%;
    height: 4em;
    padding: 0.75em 1em 0.75em 2em;
    cursor: pointer;
}

.customer-list > ul > li:hover {
    background-color: rgba(244, 67, 54, 0.1);
}

.customer-list > ul > li.chosen {
    background-color: rgba(244, 67, 54, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}


.customer-list > ul > li img {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    float: left;
    margin-right: 1em;
}

.customer-list .name {
    width: 6em;
    float: left;
    text-align: left;
    font-size: 1em;
    line-height: 2.5em;
}

.customer-list .notification {
    display: block;
    width: 1.5em;
    height: 1.5em;
    float: left;
    border-radius: 50%;
    background: lightseagreen;
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
    transform: translateY(5px);
}

.customer-list .notification.unvisible {
    display: none;
}



/*----------------- Chat Panel Style -------------------*/
.chat-header {
    width: 100%;
    height: 3em;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    padding: 0 2em;
    box-shadow: 0 1px 2px #a0a0a0;
    z-index: 10;
}

.chat-header .name {
    font-size: 1em;
    line-height: 3em;
    font-weight: bold;
}

.chat-content {
    width: 100%;
    height: 100%;
    padding-top: 3em;
    background-color: white;
    position: relative;
    z-index: 9;
}

.chat-input {
    width: 100%;
    height: 8em;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 1em;
    box-shadow: 0 -1px 2px #a0a0a0;
}

.chat-input nav {
    height: 2em;
    width: 100%;
    padding: 0 1em;
}

.chat-input nav a {
    font-size: 1em;
    line-height: 2em;
    color: rgba(0, 0, 0, 0.7);
}

.chat-input nav a:not(:last-child) {
    margin-right: 1em;
}

.chat-input textarea {
    width: 100%;
    height: 5.5em;
    padding: 0 0.5em;
    font-size: 1em;
    outline: none;
    border: none;
    resize: none;
}

.chat-history {
    width: 100%;
    height: 100%;
    padding: 1em 1em 9em;
    overflow: scroll;
}

.chat-history ul {
    width: 100%;
    height: 100%;
}

.chat-history .chat-item {
    margin: 0.5em 0;
}


.chat-history .chat-item img.head {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.chat-history .chat-item.other img,
.chat-history .chat-item.other .words{
    float: left;
}


.chat-history .chat-item.me img,
.chat-history .chat-item.me .words{
    float: right;
}

.chat-history .chat-item .words{
    background: lightcoral;
    padding: 0.5em;
    border-radius: 5px;
    color: white;
    margin: 0 1em;
    position: relative;
    max-width: 35em;
}

.chat-history .chat-item .words:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
}

.chat-history .chat-item.other .words:before {
    border-right-color: lightcoral;
    position: absolute;
    top: 0.3em;
    left: -1em;
}

.chat-history .chat-item.me .words:before {
    border-left-color: lightcoral;
    position: absolute;
    top: 0.3em;
    right: -1em;
}


/*---------- Overlay Style ------------*/
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    height: 200em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}

/*--------------- Notification Window Style ------------------*/
.notification-window {
    width: 30em;
    height: 22.8em;
    position: absolute;
    top: 10em;
    left: 50%;
    padding: 1em 0 1em 1em;
    transform: translate(-50%);
    background-color: white;
    border-radius: 0 0 4px 4px;
    z-index: 999;
    display: none;
}

.notification-window ul {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 0 1em 0 0;
}

.notification-window li {
    width: 100%;
    height: 3em;
    background: rgba(32, 178, 170, 0.2);
    margin-bottom: 0.5em;
    border-radius: 3px;
    padding: 0 1em;
}

.notification-window li img.head {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0.5em 0.5em 0 0;
    float: left;
}

.notification-window li span {
    float: left;
    font-size: 0.8em;
    line-height: 3.375em;
    font-weight: bold;
}

.notification-window li a {
    font-size: 0.8em;
    line-height: 1.125em;
    padding: 0.5em 1.5em;
    border-radius: 2px;
    background-color: #415e9c;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    margin: 0.7em 0 0;
    float: right;
}