/*------------- Basic Style ---------------*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

ul, ol {
    list-style: none;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #333;
}

.container {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: rgb(142, 209, 249);
}

.container>nav {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: right;
    padding: 1em 1em;
    z-index: 100;
}

.container>nav a {
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 300;
    padding: 0.5em;
    margin: 0 0.5em;
    border-radius: 5px;
    color: white;
    background: #ff3a3f;
}


/*-------- Environment -----------*/

.environment {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 600px;
}

.person {
    width: 5em;
    height: 18em;
    position: absolute;
    bottom: 20%;
    left:50%;
    list-style: none;
    transform: translateX(-50%);
    margin: 0 auto;
    z-index: 10;
}

.head {
    width: 3em;
    height: 3.8em;
    background: url("../../image/login/head.png") no-repeat bottom;
}

.leg {
    position: absolute;
    top: 135px;
    left: -15px;
    width: 5em;
    height: 8em;
    background: url("../../image/login/leg.png") no-repeat bottom;
    transform-origin: 80% 0%;
}

.left.leg{
    animation: rotateLeg 1s 9999;
}

.right.leg {
    animation: rotateLeg 1s 0.5s 9999;
}

.body {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 4em;
    height: 6em;
    background: url("../../image/login/body.png") no-repeat bottom;
}

.arm {
    position: absolute;
    top: 68px;
    left: 40px;
    width: 4em;
    height: 4em;
    background: url("../../image/login/arm.png") no-repeat bottom;
    transform-origin: 15% -10%;
}

.left.arm{
    animation: rotateArm 1s 9999;
}

.right.arm {
    animation: rotateArm 1s 0.5s 9999;
}

.land {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    left:0;
    background: url("../../image/login/land.png") no-repeat center/100% 100%;
}

.cloud {
    width: 10em;
    height: 6em;
    background: url("../../image/login/cloud.png") no-repeat center/100% 100%;
}

.cloud:nth-child(1) {
    position: absolute;
    top: 0;
    left: 100%;
    animation: cloudMove 20s linear 9999;
    z-index: 1;
}

.cloud:nth-child(2) {
    position: absolute;
    top: 10%;
    left: 100%;
    animation: cloudMove 20s linear 8s 9999;
    z-index: 3;
}

.cloud:nth-child(3) {
    position: absolute;
    top: 21%;
    left: 100%;
    animation: cloudMove 20s linear 16s 9999;
    z-index: 1;
}


.tree1 {
    position: absolute;
    bottom: 25%;
    left: 100%;
    width: 20em;
    height: 12.5em;
    background: url("../../image/login/tree1.png") no-repeat bottom;
    animation: treeMove 30s linear 10s 9999;
    z-index: 3;
}

.tree2 {
    position: absolute;
    bottom: 25%;
    left: 100%;
    width: 20em;
    height: 23em;
    background: url("../../image/login/tree2.png") no-repeat bottom;
    animation: treeMove 30s linear 2s 9999;
    z-index: 3;
}

.mountain {
    position: absolute;
    bottom: 25%;
    left: 100%;
    width: 42em;
    height: 24.7em;
    background: url("../../image/login/mountain.png") no-repeat bottom;
    animation: mountainMove 50s linear 26s 9999;
    z-index: 2;
}



/*----------- Animation -------------*/
@keyframes rotateArm {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(70deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-70deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotateLeg {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(70deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-50deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes cloudMove {
    0% {
        left: 100%;
    }

    50% {
        left: -20%;
    }

    100% {
        left: -20%;
    }
}


@keyframes treeMove {
    0% {
        left: 100%;
    }

    50% {
        left: -20%;
    }

    100% {
        left: -20%;
    }
}


@keyframes mountainMove {
    0% {
        left: 100%;
    }

    50% {
        left: -50%;
    }

    100% {
        left: -50%;
    }
}